.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav{
  list-style-type: none;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}